{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}


{% block content %}


    <section class="news blue pt-lg-5 pb-lg-3 pt-sm-4 pb-sm-2">
        <div class="container">
            <div class="row ">
                <div class="col- col-md-8 offset-md-2  text-center">
                    <div class="page-heading">
                        <h1 class="pt-2 ">{{ entry.title }}</h1>
                    </div>
                    {% if entry.introText %}
                        {{ entry.introText }}
                    {% endif %}
                </div>

            </div>
        </div>
    </section>
    <!-- form content -->
    <div class="container site page">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 main">

                <style>
                    #callback label.error{ font-size:12px;font-weight:normal;color:red!important}
                </style>

                {% macro errorList(errors) %}
                    {% if errors %}
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endmacro %}

                {% from _self import errorList %}

                <form method="post" class="form callbackform" id="callback" action="" accept-charset="UTF-8">
                    {{ csrfInput() }}

                    <input type="hidden" class="ignore" name="action" value="guest-entries/save">
                    {{ redirectInput('callback-thanks') }}
                    <input type="hidden" class="ignore"  name="sectionUid" value="0142231a-9a28-4802-bda0-21494e18d138">
                    <input type="hidden" name="fields[ipaddress]" value="{{ craft.app.request.userIP() }}">

                    <div class="form-group">
                        <label for="title">{{ "Name" | t }}</label>
                        <input id="title" type="text" class="form-control"  name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="callbackTel">{{ "Telephone number (including the country code for where you are)" | t }}</label>
                        <input id="callbackTel" type="text" class="form-control"  name="fields[callbackTelephone]" required>
                    </div>
                    <div class="form-group">
                        <label for="callbackemail">{{ "Email" | t }}</label>
                        <input id="callbackemail" type="text" class="form-control" name="fields[callbackEmail]" required>
                    </div>
                    <div class="form-group">
                        <label for="language">{{ "Language you would like us to talk to you in?" | t }}</label>
                        <input id="language" type="text" class="form-control" name="fields[callbackLanguage]" required>
                    </div>
                    <div class="form-group">
                        <label for="callbacktime">{{ "When would you like us to call you?" | t }}</label>
                        <input id="callbacktime" type="text" class="form-control" name="fields[callbackTime]" required>
                    </div>

                    <div class="form-group">
                        <label for="body">{{ "What do you want to talk about?" | t }}</label>
                        <textarea class="form-control" id="body" name="fields[body]" required></textarea>

                    </div>
                    <div class="form-group hide">
                        <div class="g-recaptcha" data-sitekey="{{ craft.app.config.general.recaptcha_v2_public}}" data-callback="recaptchaCallback"></div>
                        <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">

                    </div>
                    <div class="form-group justify-content-center mx-auto text-center">
                        <input type="submit"   class="btn btn-primary" value="{{ 'Submit' | t }}">
                    </div>
                    <input type="hidden"  class="ignore" name="enabled" value="0">
                    <input type="hidden"  class="ignore" name="postDate" value="{{ now|date('Y-m-j H:i:s') }}" />


                </form>
                <div class="row thanks" style="display:none">
                    <div class="col-md-12">
                        <p class="thankyou alert alert-success">
                            {{ "Thank you." | t }}
                        </p>
                    </div>
                </div>
                <a href="#content-top" id="testbutton" class="hide btn btn-default pagescroll">test scroll</a>
            </div>

        </div>
    </div>

    <script src="https://www.google.com/recaptcha/api.js?&hl=%25252525252525252525252525252525252525252525257B%25252525252525252525252525252525252525252525257BcurrentLocale%25252525252525252525252525252525252525252525257D%25252525252525252525252525252525252525252525257D&ckcachebust=627481706"
            async defer>
    </script>

   {% endblock %}
