{% extends "_layouts/site" %}

{% block content %}

    <section class="news blue pt-lg-5 pb-lg-3 pt-sm-4 pb-sm-2 ">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 mt-3">
                    <div class="page-heading text-center"><h1>{{ entry.title }}</h1></div>
                </div>

            </div>
        </div>
    </section>
    <!-- Page Content -->
    <section class="page">
        <div class="container">

            {% set lazyImage = false %}
            {% set blockPrefix = "" %}
            <div class="row ">
                <div class="col-xs-12 col-md-8 offset-md-2 d-flex justify-content-center">
                    <div class="text-center">

                    {% if entry.image| length %}
                        {% set image = entry.image[0] ?? null %}
                        <img class=" mt-3 mb-5 img-fluid"  src="{{ image.getUrl('pdfTransform') }}" width="{{ image.getWidth('pdfTransform') }}" height="{{ image.getHeight('pdfTransform') }}" alt="{{ image.title ? image.title : entry.title }} {{ image.imageCredit ? image.imageCredit: ''  }}">
                    {% endif %}

                    {% if entry.introText| length %}

                            <p>{{ entry.introText | raw | striptags }}</p>

                            {% if entry.body| length %}
                                {{ entry.body }}
                            {% endif %}

                        {% if entry.website | length %}
                            <p><a href="{{ entry.website }}" target="_blank">Visit {{ entry.title }} at their website <i class="fa fa-external-link"></i></a></p>
                        {% endif %}

                        {% else %}

                            {% if entry.website | length %}
                               <p><a href="{{ entry.website }}" target="_blank">Visit {{ entry.title }} at their website <i class="fa fa-external-link"></i></a></p>
                            {% endif %}

                            <section class="outlink mb-4 mt-4 p-5">
                            <div class="rejoin-cta">{{ membersCTA.rejoinMessage }}

                            <p>
                                <a class="btn btn-primary" href="{{ membersCTA.rejoinLink.one().url }}">{{ membersCTA.rejoinLink.one().title }}</a>
                            </p>
                            </div>
                            </section>

                    {% endif %}
                    </div>

                </div>

            </div>

        </div>
    </section>
    <section class="container ">

    <div class="row mt-5">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 mb-4 text-center">
                    <div class="col-12 mb-3 text-center">
                        <h2 class="blue-border bottom p-2 pl-4 pr-4 d-inline">Useful links</h2>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-xs-12 col-md-8 offset-md-2 mb-5">

{#            {% set orgs = craft.entries()#}
{#                .section('usefulOrganisations')#}
{#                .id( 'not' ~ entry.id )#}
{#                .orderBy('title asc')#}
{#                .all() %}#}

            {% set orgs = craft.entries({
                section:        'usefulOrganisations',
                order:          'title asc'
            }).id('not ' ~ entry.id) %}


            <div class="row ">
                {% for entry in orgs %}
                    {# start card layout #}


                    <ul class="m-0 text-center h-100 justify-content-center {% if entry.customLink | length %}  {% endif %}">


                        {% set image = entry.image[0] ?? null %}
                        {%  set link = null %}
                        {%  if  "http" in entry.customLink %}
                            {%  set link = entry.customLink %}
                        {% else %}
                            {%  set link = "http://"~entry.customLink %}
                        {% endif %}
                        <li class="media mb-5">
                            <div class="img-wrap">
                                {% if image %}
                                    <img class="mr-3 h-100" src="{{ image.getUrl('sponsorLogoGrid') }}"
                                         alt="{{ image.title ? image.title : entry.title }} {{ image.imageCredit ? image.imageCredit: '' }}">
                                {% else %}
                                    <img class="img-fluid mr-3 h-100" src="{{ nullImage3 }}"
                                         alt="{{ entry.title }}">

                                {% endif %}

                            </div>
                            <div class=" media-body text-left">
                                <h5 class="mt-0 mb-1">{{ entry.title }}</h5>
                                <p class="mb-0">{{entry.introText | striptags}}</p>
                                <a href="{{ entry.url }}">Read more</a>
                            </div>
                        </li>



                        {#{% if entry.customLink | length %} </a>{% endif %}#}
                    </ul>

                    {# end card layout #}



                {% endfor %}

            </div>
        </div>


    </div>
    </section>
{% endblock content %}