{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}


{% block content %}


    <section class="news blue pt-lg-5 pb-lg-3 pt-sm-4 pb-sm-2">
        <div class="container">
            <div class="row ">
                <div class="col- col-md-8 offset-md-2   ">
                    <div class="page-heading">
                        <h1 class="pt-2 ">{{ entry.title }}</h1>
                    </div>
                    {% if entry.introText %}
                        {{ entry.introText }}
                    {% endif %}
                </div>

            </div>
        </div>
    </section>
    <!-- list content -->

    <section class="container page useful">

        <div class="row mt-5">
            <div class="col-xs-12 col-md-12 ">

                {% set members = craft.entries()
                .section('usefulOrganisations')

                .orderBy('title asc')
                .all() %}


                <div class="row ">
                    {% for entry in members %}
                        {# start card layout #}


                            <ul class="m-0 text-center h-100 justify-content-center {% if entry.customLink | length %}  {% endif %}">


                                {% set image = entry.image[0] ?? null %}
                                {%  set link = null %}
                                {%  if  "http" in entry.customLink %}
                                {%  set link = entry.customLink %}
                                 {% else %}
                                    {%  set link = "http://"~entry.customLink %}
                                {% endif %}
                                <li class="media mb-5">
                                    <div class="img-wrap">
                                    {% if image %}
                                        <img class="mr-3 h-100" src="{{ image.getUrl('sponsorLogoGrid') }}"
                                         alt="{{ image.title ? image.title : entry.title }} {{ image.imageCredit ? image.imageCredit: '' }}">
                                    {% endif %}
                                    </div>
                                    <div class=" media-body text-left">
                                        <h5 class="mt-0 mb-1">{{ entry.title }}</h5>
                                        <p class="mb-0">{{entry.introText | striptags}}</p>
                                        <a href="{{ entry.url }}">Read more</a>
                                    </div>
                                </li>


                                    
                                    {#{% if entry.customLink | length %} </a>{% endif %}#}
                            </ul>
                        
                        {# end card layout #}



                    {% endfor %}

                </div>
            </div>

           
        </div>
    </section>
{% endblock %}
