<section class="block-cta mt-5">
<ul class="list-unstyled cta-icons d-flex justify-content-center justify-content-lg-start mb-0">
{% for block in cta.ctaBlock  %}

    <li class="list-inline-item">
        <a class="icon-circle popup" target="_self" href="https://hosted1.whoson.com/newchat/chat.aspx?domain={{ block.chat }}&lang=en">

            <img src="{{ baseUrl }}/images/icons/icon-chat.svg">
        </a>
        </li>
    <li class="list-inline-item">
        <a class="icon-circle" href="tel:{{ block.phone  }}">
            <img src="{{ baseUrl }}/images/icons/icon-phone.svg">
        </a>
    </li>
    <li class="list-inline-item">
        <a class="icon-circle" href="mailto:{{ block.email }}">
            <img src="{{ baseUrl }}/images/icons/icon-email.svg">
        </a>
    </li>
    </li>
    <li class="list-inline-item">
        <a class="icon-circle" href="{{ block.callback.one().url }}">
            <img src="{{ baseUrl }}/images/icons/icon-callback.svg">
        </a>
    </li>
{% endfor %}
</ul>
</section>
{% js %}

        jQuery(function ($) {
            $('.popup').click(function() {
                
                var newwindow = window.open($(this).prop('href'), '',
                    'height=580,width=385');
                if (window.focus) {
                    newwindow.focus();
                }
                return false;
            });
        });
{% endjs %}