<section class="block-cta my-3 my-sm-5">
<ul class="list-unstyled cta-icons d-flex justify-content-center justify-content-lg-start mb-0">
{% for block in cta.ctaBlock.all()  %}

    <li class="list-inline-item">
        <a class="icon-circle popup" target="_self" href="https://hosted1.whoson.com/newchat/chat.aspx?domain={{ block.chat }}&lang=en" title="Live chat">

            <img src="{{ baseUrl }}/images/icons/icon-chat.svg">
        </a>
        </li>
    <li class="list-inline-item">
        <a class="icon-circle" href="tel:{{ block.phone  }}" title="Phone">
            <img src="{{ baseUrl }}/images/icons/icon-phone.svg">
        </a>
    </li>
    <li class="list-inline-item">
        <a class="icon-circle" href="mailto:{{ block.email }}" title="Email">
            <img src="{{ baseUrl }}/images/icons/icon-email.svg">
        </a>
    </li>
    </li>
    <li class="list-inline-item">
        <a class="icon-circle" href="{{ block.callback.one().url }}" title="Callback">
            <img src="{{ baseUrl }}/images/icons/icon-callback.svg">
        </a>
    </li>
    <li class="list-inline-item">
        <a class="icon-circle" href="tel:{{ block.whatsapp  }}" title="WhatsApp">
            <img src="{{ baseUrl }}/images/icons/icon-whatsapp.svg">
        </a>
    </li>
{% endfor %}
</ul>
</section>
{% js %}

        jQuery(function ($) {
            $('.popup').click(function() {
                
                var newwindow = window.open($(this).prop('href'), '',
                    'height=580,width=385');
                if (window.focus) {
                    newwindow.focus();
                }
                return false;
            });
        });
{% endjs %}