<!-- Footer -->
<section class="supporters py-4">
    {#{% set category = entry.supporterCategory.one() %}#}
    {% set toptier = craft.categories.group('supporters').slug('top-tier').one() %}
    {% set partners = craft.categories.group('supporters').slug('partner').one() %}
    {% set supporters = craft.categories.group('supporters').slug('supporter').one() %}
    {% set allpartners = craft.entries()
        .section('supporters')
        .with(['image'])
        .relatedTo(partners)
        .all()
    %}

    {% set toptier = craft.entries()
        .section('supporters')
        .with(['image'])
        .relatedTo(toptier)
        .all()
    %}

    {% set initialSupporterIndex  =  "" %}
    {% set slidecount = allpartners|length %}

    {% js %}
        slidecount = {{ slidecount }};
{#        console.log("tmpl slidecount = " + slidecount);#}
    {% endjs %}
    <!-- Partner Carousel container -->
    <div class="container">
        <div class="row ">
            <div class="col-12  col-lg-8 offset-lg-2 text-center ">
                <div class="thx blue-border pt-4 pb-1">
                    <p>{{ footerFunders.footerFundersHeading | default('We are grateful to our primary sponsors  & partners for their continued support:')}}</p>
                </div>
            </div>
        </div>
    </div>
    {% if toptier | length %}
        <div class="container pt-4 pb-0">
            <div class="row">
                <div class="col-12 text-center justify-content-center">
                {% for entry in toptier %}
                    {% set asset = entry.image[0] %}
                    
                    <img class="mx-3 py-3 py-sm-0 mb-2 d-inline d-sm-inline-block" src="{{ asset.getUrl('topTier') }}"
                         width="{{ asset.getWidth('topTier') }}"
                         height="{{ asset.getHeight('topTier') }}"
                    >
                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="center-wrap partners my-3">
        <div class="main-carousel w-100 container">
            {% for entry in allpartners %}

                {% if entry.initialSupporter %}
                    {% set initialSupporterIndex = "is-initial-select" %}
                {% else %}
                    {% set initialSupporterIndex  =  initialSupporterIndex %}
                {% endif %}
                {% set asset = entry.image[0] %}
                <div class="carousel-cell text-center  {{ initialSupporterIndex }}">
                    <img class="my-auto " src="{{ asset.getUrl('carouselPartnerLogo') }}"
                         width="{{ asset.getWidth('carouselPartnerLogo') }}"
                         height="{{ asset.getHeight('carouselPartnerLogo') }}"
                    >
                </div>
            {% endfor %}
        </div>
        {#    </div>#}
        {#    </div>#}
    </div>

    <!-- Supporter Carousel container -->
    {% set allsupporters = craft.entries()
        .section('supporters')
        .with(['image'])
        .relatedTo(supporters)
        .all()
    %}
    <div class="center-wrap supporters">
        <div class="supporter-carousel w-100 container">
            {% for entry in allsupporters %}
                {% if entry.initialSupporter %}
                    {% set initialSupporterIndex = "is-initial-select" %}
                {% else %}
                    {% set initialSupporterIndex  =  "" %}
                {% endif %}
                {% set asset = entry.image[0] %}
                <div class="carousel-cell text-center  {{ initialSupporterIndex }}">
                    <img class="my-auto" src="{{ asset.getUrl('carouselSupporterLogo') }}"
                         width="{{ asset.getWidth('carouselSupporterLogo') }}"
                         height="{{ asset.getHeight('carouselSupporterLogo') }}"
                    >
                </div>
            {% endfor %}

        </div>
        {#    </div>#}
        {#    </div>#}
    </div>

    <div class="text-center text-grey-light">See all our <a href="{{ baseUrl }}/supporters">partners & supporters</a></div>
</section>

<footer class="footer">

    <div class="d-flex  justify-content-center align-items-center list-unstyled">
        {% set entries = craft.entries.section('footerNav').hidePage('not 1').all() %}

        <ul class="d-flex text-centre m-0 footer-nav pt-4 py-2 ">
            {% for entry in entries %}
                {% if entry.entryLink.one()|length %}
                    {% set navlink = siteUrl ~ entry.entryLink.one().uri %}
                {% else %}
                    {% set navlink =  entry.customLink %}
                {% endif %}
                <li class="mr-0 list-inline-item"><a href="{{ navlink }}">{{ entry.title }}</a></li>
            {% endfor %}
            <li class="list-inline-item">
                <!-- global subscribe newsletter -->
                <a  href="#" data-toggle="modal" data-target="#subscribeModal">Subscribe</a>
            </li>
            
        </ul>
    </div>
    <div class="d-flex  align-items-center">
        <div class="col-12 text-center p-3">
            <img class="align-self-center" src="{{ baseUrl }}/images/iswan-logo.svg">
        </div>
    </div>
    <div class="d-flex align-items-center p-0">
        <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 text-center ">
            {{ organisationDetails.organisationAddress | striptags(copyright.charityOrganisationStatement) }}
        </div>
    </div>
    <div class="d-flex  align-items-center">
        <div class="col-12 text-center p-3">
            {{ copyright.charityOrganisationStatement | striptags(copyright.charityOrganisationStatement) }}
            <br>
            Charity no.{{ copyright.charityNumber }} | Company no. {{ copyright.companyNumber }}
        </div>
    </div>
    <div class="d-flex  align-items-center">
        <div class="col-12 text-center p-3">

        </div>
    </div>

   {%  include('_includes/footer-mailchimp-modal') %}

</footer>
<!-- / footer -->