<!-- Footer -->
<section class="supporters mb-5">

    {% set supporters = craft.entries()
        .section('supporters')
        .with(['image'])
        .all() %}

    {%  set initialSupporterIndex  =  "" %}
    {% set slidecount = supporters|length %}

    {% js %}
        
        slidecount = {{ slidecount }};
        console.log("tmpl slidecount = " + slidecount);
        
    {% endjs %}

    <!-- Slider main container -->
<div class="center-wrap">
{#    <div class="row">#}
{#        <div class="col-12 py-5">#}
    <div class="main-carousel w-100 container">
        {% for entry in supporters %}

            {%  if entry.initialSupporter %}
                {% set initialSupporterIndex = "is-initial-select" %}
                {% else %}
                    {%  set initialSupporterIndex  =  "" %}
            {% endif %}
            {% set asset = entry.image[0] %}
            <div class="carousel-cell text-center  {{ initialSupporterIndex }}">
                <img class="my-auto" src="{{ asset.getUrl('memberLogo') }}">
            </div>
        {% endfor %}

    </div>
{#    </div>#}
{#    </div>#}
    </div>

</section>

<footer class="footer">

    <div class="d-flex  align-items-center">
        <div class="col-12 text-center p-3">
            <img class="align-self-center" src="{{ baseUrl }}/images/iswan-logo.svg">
        </div>
    </div>
    <div class="d-flex align-items-center p-0">
        <div class="col-8 offset-2 col-lg-6 offset-lg-3 text-center ">
            {{ organisationDetails.organisationAddress | striptags(copyright.charityOrganisationStatement) }}
        </div>
    </div>
    <div class="d-flex  align-items-center">
        <div class="col-12 text-center p-3">
            {{ copyright.charityOrganisationStatement | striptags(copyright.charityOrganisationStatement) }}
            <br>
            Charity no.{{ copyright.charityNumber }} | Company no. {{ copyright.companyNumber }}
        </div>
    </div>
    <div class="d-flex  align-items-center">
        <div class="col-12 text-center p-3">

        </div>
    </div>

    <div class="container hide ">


        <div class="row">
            <div class="col-md-3">
                <div class="footer-inner">
                    <h3>Contact</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="tel:{{ organisationDetails.organisationTelephone }}">{{ organisationDetails.organisationTelephone }}</a>
                        </li>
                        <li><a
                                    data-event-category="Contact"
                                    data-event-action="Text link"
                                    data-event-label="LinkedIn"
                                    href="mailto:{{ organisationDetails.organisationEmail }}">{{ organisationDetails.organisationEmail }}</a>
                        </li>
                    </ul>
                    <p>
                        {{ organisationDetails.organisationAddress }}
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="container hide ">
        <div class="row no-gutters  copyright pb-0">
            <div class="col-sm-12 col-md-9 footer-inner">
                <div class="copyright-left">
                    <p>{{ copyright.charityOrganisationStatement }} <br>Charity no.{{ copyright.charityNumber }} |
                        Company no. {{ copyright.companyNumber }}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="copyright-right">
                    <ul>
                        {% for block in copyright.rights.type('copyright').all() %}
                            <li>{{ block.copyright | raw }}</li>
                        {% endfor %}

                        {% for block in copyright.rights.type('footerLeftLinks').all() %}

                            {% if block.footerLeftLink | length %}
                                {% for flink in block.footerLeftLink.all() %}
                                    <li class="list-inline-item"><a href="{{ flink.uri }}">{{ flink.title }}</a></li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}


                        {% for block in copyright.rights.type('footerRightLinks').all() %}

                            {% for flink in block.footerRightLink.all() %}
                                <li><a href="{{ flink.uri }}">{{ flink.title }}</a></li>
                            {% endfor %}

                        {% endfor %}
                        {#<li><a href="#">Quick links:</a></li>#}
                        {#<li><a href="#">Resources</a></li>#}
                        {#<li><a href="#">Real-life stories</a></li>#}
                        {#<li><a href="#">Contact us</a></li>#}
                        {#<li><a href="#">Subscribe</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 footer-inner">

            </div>
        </div>

    </div>
    <div class="container ">
        <div class="row nogutters ">

        </div>
    </div>
</footer>
<!-- / footer -->