<!-- Footer -->
<section class="supporters py-4">
    {#{% set category = entry.supporterCategory.one() %}#}
    {% set partners = craft.categories.group('supporters').slug('partner').one() %}
    {% set supporters = craft.categories.group('supporters').slug('supporter').one() %}
    {% set allpartners = craft.entries()
        .section('supporters')
        .with(['image'])
        .relatedTo(partners)
        .all()
    %}

    {% set initialSupporterIndex  =  "" %}
    {% set slidecount = allpartners|length %}

    {% js %}

        slidecount = {{ slidecount }};
        console.log("tmpl slidecount = " + slidecount);

    {% endjs %}
    <!-- Partner Carousel container -->
    <div class="container">
        <div class="row ">
            <div class="col-12  col-lg-8 offset-lg-2 text-center">
                <div class="thx blue-border pt-4">
                    <p>We are grateful to our primary sponsors  and partners for their continued support:</p>
                </div>
            </div>
        </div>
    </div>
    <div class="center-wrap partners my-3">

        <div class="main-carousel w-100 container">
            {% for entry in allpartners %}

                {% if entry.initialSupporter %}
                    {% set initialSupporterIndex = "is-initial-select" %}
                {% else %}
                    {% set initialSupporterIndex  =  initialSupporterIndex %}
                {% endif %}
                {% set asset = entry.image[0] %}
                <div class="carousel-cell text-center  {{ initialSupporterIndex }}">
                    <img class="my-auto" src="{{ asset.getUrl('carouselPartnerLogo') }}">
                </div>
            {% endfor %}

        </div>
        {#    </div>#}
        {#    </div>#}
    </div>

    <!-- Supporter Carousel container -->
    {% set allsupporters = craft.entries()
        .section('supporters')
        .with(['image'])
        .relatedTo(supporters)
        .all()
    %}
    <div class="center-wrap supporters">
        <div class="supporter-carousel w-100 container">
            {% for entry in allsupporters %}
                {% if entry.initialSupporter %}
                    {% set initialSupporterIndex = "is-initial-select" %}
                {% else %}
                    {% set initialSupporterIndex  =  "" %}
                {% endif %}
                {% set asset = entry.image[0] %}
                <div class="carousel-cell text-center  {{ initialSupporterIndex }}">
                    <img class="my-auto" src="{{ asset.getUrl('carouselSupporterLogo') }}">
                </div>
            {% endfor %}

        </div>
        {#    </div>#}
        {#    </div>#}
    </div>

    <div class="text-center text-grey-light">See all our <a href="#">partners & supporters</a></div>
</section>

<footer class="footer">

    <div class="d-flex  align-items-center">
        <div class="col-12 text-center p-3">
            <img class="align-self-center" src="{{ baseUrl }}/images/iswan-logo.svg">
        </div>
    </div>
    <div class="d-flex align-items-center p-0">
        <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 text-center ">
            {{ organisationDetails.organisationAddress | striptags(copyright.charityOrganisationStatement) }}
        </div>
    </div>
    <div class="d-flex  align-items-center">
        <div class="col-12 text-center p-3">
            {{ copyright.charityOrganisationStatement | striptags(copyright.charityOrganisationStatement) }}
            <br>
            Charity no.{{ copyright.charityNumber }} | Company no. {{ copyright.companyNumber }}
        </div>
    </div>
    <div class="d-flex  align-items-center">
        <div class="col-12 text-center p-3">

        </div>
    </div>

    <div class="container hide ">


        <div class="row">
            <div class="col-md-3">
                <div class="footer-inner">
                    <h3>Contact</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="tel:{{ organisationDetails.organisationTelephone }}">{{ organisationDetails.organisationTelephone }}</a>
                        </li>
                        <li><a
                                    data-event-category="Contact"
                                    data-event-action="Text link"
                                    data-event-label="LinkedIn"
                                    href="mailto:{{ organisationDetails.organisationEmail }}">{{ organisationDetails.organisationEmail }}</a>
                        </li>
                    </ul>
                    <p>
                        {{ organisationDetails.organisationAddress }}
                    </p>
                </div>
            </div>

        </div>
    </div>

</footer>
<!-- / footer -->