<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-inner">
                    <h3>Contact</h3>
                    <ul class="list-unstyled">
                        <li><a href="tel:{{ organisationDetails.organisationTelephone }}">{{ organisationDetails.organisationTelephone }}</a></li>
                        <li><a
                                    data-event-category="Contact"
                                    data-event-action="Text link"
                                    data-event-label="LinkedIn"
                                    href="mailto:{{ organisationDetails.organisationEmail }}">{{ organisationDetails.organisationEmail }}</a></li>
                    </ul>
                    <p>
                       {{ organisationDetails.organisationAddress }}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-inner hide">
                    <h3>News</h3>
                    <div class="footer-contant">

                        {% set entries = craft.entries()
                        .section('news')
                        .limit('2')
                        .all() %}
                        {% for entry in entries %}
                            <p>{{  entry.title }}<br><span>{{ entry.postDate.format('F d, Y') }}</span></p>
                        {%  endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="footer-social">
                    <ul>
                        <li><a target="_blank" data-on="click" data-event-category="Social" data-event-action="Channel link" data-event-label="Facebook" href="{{ social.facebook }}"><img id="facebook" class="facebook svg" src="{{ baseUrl }}/images/facebook-iocn.svg" alt="" /></a></li>
                        <li><a target="_blank" data-on="click" data-event-category="Social" data-event-action="Channel link" data-event-label="Twitter" href="{{ social.twitter }}"><img class="twitter svg" src="{{ baseUrl }}/images/twitter-icon.svg" alt="" /></a></li>
                        <li><a target="_blank" data-on="click" data-event-category="Social" data-event-action="Channel link" data-event-label="Flickr" href="{{ social.flickr }}"><img  class="flickr svg" src="{{ baseUrl }}/images/flickr-icon.svg" alt="" /></a></li>
                        <li><a target="_blank" data-on="click" data-event-category="Social" data-event-action="Channel link" data-event-label="LinkedIn" href="{{ social.linkedin }}"><img  class="linkedin svg" src="{{ baseUrl }}/images/linkedin-icon.svg" alt="" /></a></li>
                        <li><a target="_blank" data-on="click" data-event-category="Social" data-event-action="Channel link" data-event-label="Instagram" href="{{ social.instagram }}"><img  class="instagram svg" src="{{ baseUrl }}/images/instagram-icon.svg" alt="" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
            <div class="row no-gutters border-top copyright pb-0">
                <div class="col-sm-12 col-md-9 footer-inner">
                    <div class="copyright-left">
                        <p>{{ copyright.charityOrganisationStatement}} <br>Charity no.{{ copyright.charityNumber }} | Company no. {{ copyright.companyNumber }}</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="copyright-right">
                        <ul>
                            {% for block in copyright.rights.type('copyright').all() %}
                                <li>{{ block.copyright | raw}}</li>
                            {%  endfor %}

                            {% for block in copyright.rights.type('footerLeftLinks').all() %}

                                {%  if block.footerLeftLink | length %}
                                    {%  for flink in block.footerLeftLink.all() %}
                                        <li class="list-inline-item"><a href="{{ flink.uri }}">{{ flink.title }}</a></li>
                                    {%  endfor %}
                                {% endif %}
                            {%  endfor %}


                            {% for block in copyright.rights.type('footerRightLinks').all() %}

                                {%  for flink in block.footerRightLink.all() %}
                                    <li><a href="{{ flink.uri }}">{{ flink.title }}</a></li>
                                {%  endfor %}

                            {%  endfor %}
                            {#<li><a href="#">Quick links:</a></li>#}
                            {#<li><a href="#">Resources</a></li>#}
                            {#<li><a href="#">Real-life stories</a></li>#}
                            {#<li><a href="#">Contact us</a></li>#}
                            {#<li><a href="#">Subscribe</a></li>#}
                        </ul>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-12 footer-inner">

            </div>
        </div>

    </div>
    <div class="container ">
        <div class="row nogutters ">

        </div>
    </div>
</footer>
<!-- / footer -->