{% if entry.level > 1 and entry.section.handle == 'pages' %}

    {% set rootOfSection = craft.entries.section('pages').ancestorOf(entry).level(1).one() %}

{% elseif entry.level == 1 and entry.section.handle == 'pages' %}

    {% set rootOfSection = entry %}
{#{{ entry.level }}#}
    {#{{ entry.type }}#}

    {% else %}
    {% set rootOfSection = entry %}
{% endif %}

{% import '_macros' as macros %}


{#{% if rootOfSection.hasDescendants() %}#}

<div class="side-box mb-5">
    <h3><a href="{{ rootOfSection.url }}">{{ rootOfSection.title }}</a></h3>
    <ul class="list-unstyled">
        {#Get entries to build the sub-menu#}
        {% set subMenu = craft.entries.descendantOf(rootOfSection) %}




        {#Output the sub menu#}
        {% for entry in subMenu.all() %}
            {#{% if entry.entryLink.first|length %}#}
              {##}
            {#{% else %}#}
                {#{% set navlink = entry.customLink %}#}
            {#{% endif %}#}
            {% if entry.menuTitle|length %}
                {% set navlink = entry.url%}
                {% set title = entry.menuTitle %}
            {% else %}
                {% set navlink = entry.url %}
                {% set title = entry.title %}
            {% endif %}

            {% set navlink = entry.url %}
            <li class=" {{ macros.isActiveChildClass(entry.slug)|trim }} level{{ entry.level }}">
                <a href="{{ entry.url }}"
                   class="  level{{ entry.level }}">{{ title }}</a>
            </li>



        {% endfor %}
        {%  if entry.pageSubNav | length %}
            <!-- pagesubnav -->
            {%  for entry in entry.pageSubNav %}
                <li class=" {{ macros.isActiveChildClass(entry.slug)|trim }} level{{ entry.level }}">
                    <a href="{{ entry.url }}" class="  level{{ entry.level }}">{{ entry.title }}</a>
                </li>
            {% endfor %}
            <li class="">
                <a href="{{ donate.donateLink }}" class="  level{{ entry.level }}">Donate</a>
            </li>
        {% endif %}
    </ul>

    </div>
{#{% endif %}#}
