<!-- Call to Action subscribe Section -->

{% set sections = subscribe.showOnSection ?? null %}

{%  set bgColor = subscribe.ctaSectionBgColor ?? null %}
{% if sections | length %}

    {#subscribe.showGlobalSubscribeOnSection#}
    {#{% set section = craft.entries.sectionId(sections) %}#}

    {% for section in sections %}



    {% endfor %}

{% endif %}
{#{% if align is defined %}#}
{#{% set textalign = "" %}#}
{#{{ align ?? align }}#}
{#{{ align ?? textalign ?? null }}#}
{#{% endif %}#}
{%  set btnColor = "btn-" ~ subscribe.ctaButtonColor ?? "btn-gray" %}

{% if align is defined and align is not null %}
    {%  set textalign = align %}
{% else %}
    {%  set textalign = 'text-center' %}
{% endif %}
<section class="subscribe {{ bodyClass }} top collapse  pt-4 pb-4 text-right" id="collapseForm">
    <div class="container  ">
        <div class="row no-gutters  " >
            <div class="col-md-12 my-auto  {{ textalign }}  ">




                <div class="">
                    {%  if subscribe.form | length %}
                    {% set form = subscribe.form %}
                    {#{%  set form = "subscribe" %}#}
                    {{ craft.freeform.form(subscribe.form, {
                        labelClass: "form-label",
                        inputClass: "form-control",
                        class: "subscribe ajaxme",
                        instructionsBelowField: true,
                        overrideValues: {

                        }
                    }).render() }}
                        {% else %}
                        <p class="alert alert-warning">No form configured in global settings. Please add a form</p>
                    {%  endif %}
                </div>


            </div>
        </div>
    </div><!-- /.container -->
</section>


{% do view.registerJsFile(siteUrl ~ '/js/forms.js') %}
<!-- end cta section -->