{% import '_macros' as macros %}
{# register fonts #}
 {% do view.registerAssetBundle("plugins\\dolphiq\\iconpicker\\assets\\sharedAsset") %}

<section class="research mb-5  bg-blue-light py-4">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-lg-8 offset-lg-2 text-center ">
                <h3>{{ block.heading }}</h3>
                <p>{{ block.subHeadingText }}</p>
            </div>
        </div>
        <div class="row mb-3">
            {% for col in block.icons.all() %}
                <div class="col-12 col-sm-4">
                    <div class="chart-container text-center">
                        {%  if col.iconColor |length %}
                            {%  set style = "style=color:" ~col.iconColor | default("#0089bf")~ "" %}
                        {% else %}
                            {%  set style ="" %}
                        {%  endif %}
                        <i {{ style }} class='fa {{ col.icon.iconClass }}  {{ col.iconSize }}'>{{ col.icon.iconChar|raw }}</i>

                        <div class="card-body">
                            <p class="card-text text-center">{{ col.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {%  if block.buttonText |length %}
        <div class="row">
            <div class="col-12 text-center">
                <a href="{{ block.buttonLink.one().url }}">{{ block.buttonText }}</a>

            </div>
        </div>
        {% endif %}
    </div>
</section>

