<section class="{{ block.type | kebab }} help mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 text-center mb-3">
                <h3>{{ block.rowTitle }}</h3>
                <p>{{ block.intro }}</p>
            </div>
        </div>
        <div class="row mb-5 ">
            {% for block in block.imageColumn %}
                {% set asset = block.image.one() ?? null %}
                {%  if asset | length %}
                {% set thumb = {
                    mode: 'crop',
                    width: 370,
                    height: 217,
                    quality: 85
                } %}
                {% endif %}
            <div class="col-12 col-md-4 mb-4">
                <div class="position-relative d-flex justify-content-center">
                    <img class="d-none d-sm-block img-fluid" src="{{ asset.getUrl(thumb) }}"
                         width="{{ asset.getWidth(thumb) }}"
                         height="{{ asset.getHeight(thumb) }}">
                    <div class="text-overlay button px-auto"><a href="{{ block.buttonLink.one().url }}" class="btn btn-primary">{{ block.buttonText }}</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>