{% extends "_layouts/site" %}

{% block content %}
    {% include '_includes/hero-banner.twig' %}
    {# header & hidden subscribe section #}
    {% include '_includes/_sectionheader' %}

    <!-- Page Content -->
    <section class="page {{ entry.type | kebab }} mt-lg-4 mb-5">
    <div class="container">
        
        {% set lazyImage = false %}
        {% set blockPrefix = "" %}
        <div class="row ">
            <div class="col-xs-12 col-md-12 col-lg-7 col-xl-7">

                {%  if entry.pageIntroText | length %}
                    {{ entry.pageIntroText }}
                {% endif %}

                <div class="row">
                <!-- get children -->
                    {%  set children = entry.getDescendants().hidePage('not 1') %}
{#                    {{ children | length }}#}
                {% for child in children %}
                    {% if child is defined %}

                        {% set childlink = child.uri %}
                        {% set title = child.title %}
                        {%  set asset = child.image.one() ?? null %}
                      <div class="col-12 col-sm-6 mb-3">
                            <div class="card">
                                {%  if asset | length %}
                                <a href="{{ child.url }}">
                                <img class="card-img-top img-fluid" src="{{ asset.getUrl('cardLandscape') }}" alt="{{ asset.title }}">
                                </a>
                                    {% endif %}
                                <div class="card-body" data-mh="textbody">
                                    <h5 class="card-title ">
                                        {%  if child.url | length %}
                                            <a href="{{ child.url }}">{% endif %}
                                                {{ child.title }}
                                                {%  if child.url | length %}</a>{% endif %}

                                            </h5>
                                    <p class="card-text" >{{ child.pageIntroText|striptags }}</p>
                                    
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
             
                {% include ('_includes/block_cta.twig') %}

            </div>

            <div class="col-xs-12 col-md-12 col-lg-4 offset-lg-1 col-xl-4 offset-xl-1">
                {% include ('_includes/sidebar_nav.twig') %}
            </div>
        </div>

    </div>
    </section>

    {# show regional stories for relief funds #}
    {%   set urlSection = craft.app.request.getSegment(1) %}
    {%  if urlSection == 'relief-funds' %}

        {% set tags = craft.tags()
        .title('*Relief Funds*')
        .all() %}

        {% set entries = craft.entries()
        .section('stories')
        .relatedTo(tags)
        .limit('5') %}

        {% if entries | length %}
        <section class="blue gray regional-stories bg-gray pt-5">
            <div class="container content">

                <!-- Page Heading/Breadcrumbs -->
                <div class="row">
                    <div class="col-sm-12  mb-2">
                        <h4 class="mb-5">Relief Fund Stories</h4>
                        <ul class="list-unstyled">


                            {% for story in entries.all() %}

                                {% set asset = story.image.one() %}
                                <li class="media mb-5 align-items-center">
                                    <a href="{{ story.url }}">

                                        <img class="mr-3 img-fluid rounded-circle" src="{{ asset.getUrl('smallSquare') }}"
                                             width="{{ asset.getWidth('smallSquare') }}"
                                             height="{{ asset.getHeight('smallSquare') }}">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="{{ story.url }}">{{ story.title }}</a>
                                        </h5>
                                        <div class="hide">{{ story.introText }}</div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>


                    </div>

                </div>
            </div>
        </section>

        {% endif %}
    {% endif %}
{% endblock content %}