{% extends "_layouts/site" %}

{% block content %}
    {% include '_includes/hero-banner.twig' %}
    {% include '_includes/_sectionheader' %}

    <!-- Page Content -->
    <section class="page generic mt-lg-4 mb-5">
    <div class="container">


        {% set downloadBlockCount = 0 %}
        <div class="onpage-nav mb-3 d-lg-none">
        {% for block in entry.contentBlock.all() %}

            {% if block.type == "downloads" %}
                {% set label = 'Guides' %}
                {% set downloadBlockCount = downloadBlockCount + 1 %}
            {% endif %}

            {% if downloadBlockCount > 1 %}
                {# insert optional content here #}
                <a href="#resources" class="scroll"><span class="p-2 badge badge-pill badge-light mr-1">{{ label }}</span></a>
                {% set downloadBlockCount = 0 %}
            {% endif %}
            {% if block.type == "usefullinks" %}
                {% set label = 'Useful organisations' %}
                <a href="#useful"  class="scroll"><span class="p-2 badge badge-pill badge-light mr-1">{{ label }}</span></a>
            {% endif %}


        {% endfor %}
        </div>
        {#<div class="row ">#}


            {#<div class="col-lg-12 mb-3">#}
                {#<h1>{{ entry.title }}</h1>#}
            {#</div>#}
        {#</div>#}

        {% set lazyImage = false %}
        {% set blockPrefix = "" %}
        <div class="row ">
            <div class="col-xs-12 col-md-12 col-lg-7 col-xl-7">

{#                {% set image = entry.image[0] ?? null %}#}
{#                {% if image | length %}#}
{#                    <section class="image mb-5">#}
{#                        {% set imgCredit = image.imageCredit ?? null %}#}
{#                        {% set imgCaption =  image.imageCaption ?? null %}#}
{#                        <figure>#}

{#                                <img class="img-fluid" src="{{ image.getUrl() }}">#}

{#                            {%  if imgCaption or imgCredit  %}#}
{#                                <figcaption>#}
{#                                    <i class="fa fa-chevron-up" aria-hidden="true"></i>#}
{#                            #}
{#                                    {% if imgCaption %}{{ imgCaption }}{% endif %}#}
{#                                    {% if imgCredit %}<span class="credit">© {{ imgCredit }}</span>{%  endif %}#}
{#                                </figcaption>#}
{#                            {% endif %}#}
{#                        </figure>#}
{#                    </section>#}
{#                {% endif %}#}


                {% for block in entry.contentBlock.all() %}


                    {%  switch block.type %}

{#                        {%  case 'downloads' or 'usefullinks' %}#}


                        {% default %}
                        {% include ('pages/_partials/_' ~ blockPrefix ~ 'block_' ~ block.type.handle) %}

                    {% endswitch %}

                    

                {% endfor %}


                {% include ('_includes/block_cta.twig') %}

            </div>

            <div class="col-xs-12 col-md-12 col-lg-4 offset-lg-1 col-xl-4 offset-xl-1">
                {% include ('_includes/sidebar_nav.twig') %}

                {% set downloadBlockCount = 0 %}
                {% set onpage = null %}
                <div class="onpage-nav mb-3 d-none d-lg-block">

                    {% for block in entry.contentBlock.all() %}
                        {% if block.type == "downloads" or block.type == "usefullinks" %}
                            {% set onpage = true %}
                        {% endif %}
                    {% endfor %}

                    {% if onpage %}
                    <h5>On this page</h5>
                    {% endif %}
{#                    {{ entry.contentBlock.block.downloads[0] | length }}#}
                    {% for block in entry.contentBlock.all() %}

                        {% if downloadBlockCount > 0 %}

                        {% endif %}
                        {% if block.type == "downloads" %}
                            {% set label = 'Guides' %}
                            {% set downloadBlockCount = 1 %}
                        {% endif %}

                        {% if downloadBlockCount == 1 %}
                            {# insert optional content here #}
                            <a href="#resources" class="scroll"><span class="p-2 badge badge-pill badge-light mr-1">{{ label }} label</span></a>
                            {% set downloadBlockCount = 0 %}
                        {% endif %}
                        {% if block.type == "usefullinks" %}
                            {% set label = 'Useful links' %}
                            <a href="#useful"  class="scroll"><span class="p-2 badge badge-pill badge-light mr-1">{{ label }}</span></a>
                        {% endif %}


                    {% endfor %}
                    
                </div>

                {%  include('_includes/_block-subscribe-form.twig') %}
            </div>
        </div>

    </div>
    </section>

    {# show regional stories for relief funds #}
    {%   set urlSection = craft.app.request.getSegment(1) %}
    {%  if urlSection == 'relief-funds' %}

        {% set tags = craft.tags()
        .title('*Relief Funds*')
        .all() %}

        {% set entries = craft.entries()
        .section('stories')
        .relatedTo(tags)
        .limit('5') %}

        {% if entries | length %}
        <section class="blue gray regional-stories bg-gray pt-5">
            <div class="container content">

                <!-- Page Heading/Breadcrumbs -->
                <div class="row">
                    <div class="col-sm-12  mb-2">
                        <h4 class="mb-5">Relief Fund Stories</h4>
                        <ul class="list-unstyled">


                            {% for story in entries.all() %}

                                {% set asset = story.image.one() %}
                                <li class="media mb-5 align-items-center">
                                    <a href="{{ story.url }}">

                                        <img class="mr-3 img-fluid rounded-circle" src="{{ asset.getUrl('smallSquare') }}"
                                             width="{{ asset.getWidth('smallSquare') }}"
                                             height="{{ asset.getHeight('smallSquare') }}">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="{{ story.url }}">{{ story.title }}</a>
                                        </h5>
                                        <div class="hide">{{ story.introText }}</div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>


                    </div>

                </div>
            </div>
        </section>

        {% endif %}
    {% endif %}
{% endblock content %}