{% extends "_layouts/site.twig" %}




{% block content %}
    {% set entries = craft.entries({
    section: 'staff',
    with: ['staffImage']
    }) %}

    {% include '/_includes/featured_background.twig' %}

    <section class="news blue  p-0" >
        <div class="container">
            <div class="row ">
                <div class="col-md-10  pb-2 ">
                    <div class="page-heading mb-4">{{ entry .title }}</div>
                </div>

            </div>
        </div>
    </section>
    <!-- Staff list Content -->

    <div class="container mt-5 stafflist page">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-7 col-xl-7">
                <div class="row">
                    {% for entry in entries.all() %}

                        {% set assets = entry.staffImage %}

                        {% set introtext = entry.projectIntroText ?? 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.' %}

                        {# start card layout #}
                        <div class="col-lg-4 col-sm-6 portfolio-item mb-5">
                            <div class="card h-100">
                                <a href="{{ entry.url }}">
                                    {% if assets |length %}

                                        <img class="card-img-top" src="{{ assets[0].getUrl('listThumb') }}" alt="{{ entry.title }}">
                                    {% else %}
                                        <img class="card-img-top" src="https://placehold.it/200x200" alt="">
                                    {% endif %}
                                </a>
                                <div class="card-body p-2">
                                    <h4 class="card-title">
                                        <a href="{{ entry.url }}">{{ entry.title }}</a>
                                    </h4>
                                    <p class="card-text">
                                        {{ entry.staffJobTitle }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {# end card layout #}
                    {% endfor %}
                </div>
            </div>
            <!-- sidebar -->
            <div class="col-xs-12 col-md-12 col-lg-4 offset-lg-1 col-xl-4 offset-xl-1">
                <div class="side-box mt-0">
                    {# Get the (one!) related entry from the "menu" structure #}
                    {% import '_macros' as macros %}
                    {% set rootOfSection = craft.entries.section('pages').one() %}
                    {# Check if there are descendant entries #}
                    {% if rootOfSection.hasDescendants() %}
                        <h3>About</h3>

                        <ul class="list-unstyled">
                            {# Get entries to build the sub-menu #}
                            {% set subMenu = craft.entries.descendantOf(rootOfSection) %}

                            {# Output the sub menu #}
                            {% for entry in subMenu.all() %}
                                {%  set staffactive = "" %}
                                {% if entry.slug == 'our-staff' %} {%  set staffactive = "active" %} {% endif %}


                                <li class=" {{ staffactive }} {{ macros.isMenuActive(entry.slug)|trim }} level{{ entry.level }}">
                                    <a href="{{ siteUrl }}{{ entry.uri }}"
                                       class=" level{{ entry.level }}">{{ entry.title }}</a>
                                </li>

                            {% endfor %}

                        </ul>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
    </div><!-- /.container -->


{% endblock %}