{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}


{% block content %}


    <section class="news blue pt-lg-5 pb-lg-3 pt-sm-4 pb-sm-2">
        <div class="container">
            <div class="row ">
                <div class="col-md-10">
                    <div class="page-heading"><h1>{{ entry.title }}</h1></div>
                </div>

            </div>
        </div>
    </section>
    <!-- list content -->

    <section class="container page supporters">

        <div class="row mt-5">

            <div class="col-xs-12 col-md-12 col-lg-7 col-xl-7 ">

                {% set supporters = craft.entries()
                    .section('supporters')

                    .orderBy('title asc')
                    .all() %}


                <div class="row ">
                    {% for entry in supporters %}


                        {# start card layout #}
                        <div class="col-md-4 mt-1  mb-4  ">

                            <div class="card text-center h-100 justify-content-center {% if entry.websiteLink | length %}  {% endif %}">



                                {#{% if entry.websiteLink | length %}#}

                                {%  set link = null %}
                                {%  if  "http" in entry.websiteLink %}
                                    {%  set link = entry.websiteLink %}
                                {% else %}
                                    {%  set link = "http://"~entry.websiteLink %}
                                {% endif %}

                                <a href="{{ entry.url }}" >

                                    <div class="my-auto">
                                        {% set image = entry.image[0] ?? null %}

                                        {% if image %}
                                            <div class="card-icon  ">
                                                <img class="   m-2" src="{{ image.getUrl('memberLogo') }}"
                                                     alt="{{ image.title ? image.title : entry.title }} {{ image.imageCredit ? image.imageCredit: '' }}">
                                            </div>
                                        {% else %}
                                            <div class="card-icon  ">
                                                <img class="   m-2" src="{{ baseUrl }}/images/nologo-sm.png"
                                                     alt="this member does not yet have a logo">
                                            </div>
                                        {% endif %}

                                        <div class="card-body p-0">
                                            <h5 class="card-title p-2  mb-0">
                                                {{ entry.title }}

                                            </h5>

                                        </div>
                                    </div>
                                </a>
                                {#{% if entry.websiteLink | length %} </a>{% endif %}#}
                            </div>
                        </div>
                        {# end card layout #}



                    {% endfor %}

                </div>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-4 offset-lg-1 col-xl-4 offset-xl-1">
                {% include ('_includes/sidebar_nav.twig') %}
            </div>
        </div>
    </section>
{% endblock %}
