{% set style = null %}
{%  set icon = null %}
{% if block.displayStyle | length %}
    {% set style = block.displayStyle %}
{% endif %}
<section class="mb-4 mt-4  {{ style }}" id="{% if block.id == entry.contentBlock.type('downloads').one().id %}resources{% else %} {{block.id}}{% endif %}">

                {% if block.heading |length %}
                    <h5 class="{{ style }}">
                        <span class="blog-headline-link">
                            <a id="{{ block.heading |kebab }}" href="#{{ block.heading |kebab }}"> <i class="icon-link"></i></a>
                        </span>
                        {{ block.heading |smartypants }}
                    </h5>
                {% endif %}

                {% if block.subline |length %}

                {% endif %}

                  {% if block.download |length %}
                    <div class="row">
                        {% for doc in block.download.all() %}
                            {%  set asset = doc.pdfThumbnailImage.one() ?? null %}
                            {%  set pdf = doc.pdfDocument.one() ?? null %}
                            <div class="col-6  mb-3">
                                <div class="card shadow">
                                    {%  if asset | length %}
                                        {%  if pdf.url | length %}
                                            <a href="{{ pdf.url }}"
                                            data-on="click"
                                            data-event-category="Downloads"
                                            data-event-action="Resource item download"
                                            data-event-label="{{ pdf.filename }}"
                                            >{% endif %}
                                            <img class="card-img-top img-fluid" data-mh="imgh" src="{{ asset.getUrl('pdfportraitsmall') }}" alt="{{ asset.title }}">
                                        {%  if pdf.url | length %}</a>{% endif %}

                                    <div class="card-body" data-mh="textbody">
                                        <div class="card-title ">
                                            {%  if pdf.url | length %}
                                            <a href="{{ pdf.url }}"
                                               data-on="click"
                                               data-event-category="Downloads"
                                               data-event-action="Resource item download"
                                               data-event-label="{{ pdf .filename }}"
                                            >{% endif %}
                                                {{ doc.title }}
                                                {%  if pdf.url | length %}</a>{% endif %}

                                        </div>


                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                  {% endif %}




</section>


